h1{
   margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: #1a1a1a;
    background-color:red;
}
img {
  border-radius: 50%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav{
    float: top;
    background-color:crimson;
    height:100vh;
}
